# dependencies folder
**/node_modules/*

# library specific folder
coverage/*
lib/*
test/*

# output folder
**/build/*
**/dist/*

# project folder
static/*
scripts/*

# project config
*.config.js

# typescript definition files
**/*.d.ts

# service worker
base-sw.js
††
